.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px black solid;
  height: 75px;
  background-color: var(--secondary);

  position: relative;
  top: 0;

  z-index: 2;
}
.navigation-bar > h1 {
  font-family: "Lot";
  font-size: 36px;
  -webkit-text-stroke: 2px black;
  letter-spacing: 0.7px;
  color: transparent;
  margin-left: 4rem;
}
.navigation-bar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 7rem;
}
.navigation-bar li {
  font-family: var(--lato);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cart-item-count {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--lato);
  font-size: 11px;
}
.theme-toggle-outer {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 2px black solid;
  border-radius: 100%;
}
