.item-container {
    width: inherit;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    margin-top: 1rem;
    margin-bottom: 1rem;
}
.item-container::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 460px;
    position: absolute;
    bottom: -1rem;
    background-color: #C4C4C4;

}
.item-info-container {
    width: 245px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item-info-container > span {
    height: 56px;
    width: 56px;
    background-color: lightgray;
}
.item-info-container > h1 {
    font-family: var(--lato);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
    margin-left: 1.2rem;
    color: #868686;
}
.item-price {
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;

    position: absolute;
    left: 60%;
}   
.item-select {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px #C4C4C4 solid;

    position: absolute;
    right: 5%;
}
.item-selected {
    width: 12px;
    height: 12px;

    border: 2px #89CC61 solid;
    background-color: #EAF4E1;

    position: absolute;
    right: 5%;
}
.item-select:hover, .item-selected:hover {
    cursor: pointer;
}